@charset "utf-8";

:root {
    --main-color: #000;
    --border-color: #ddd;
    --main-font: 'Pretendard', sans-serif;
    --sub-font: 'Kalnia', serif;
 }

body { overflow-x: hidden; font-family: 'Pretendard', sans-serif; font-size: 1.6rem; line-height: 1.35; color: var(--main-color); }
.inner { max-width: 1640px; margin: 0 auto; padding: 0 20px; }

header { position: absolute; left: 0; top: 0; width: 100%; z-index: 10; color: #fff; padding: 20px 0 0;}
header .inner { display: flex; align-items: center;  justify-content: space-between; position: relative; max-width: 1740px; }
header h1 { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }
header h1 img{display: block;}

header .gnb { display: flex; margin-left: -20px; }
header .gnb > li { position: relative; }
header .gnb > li > a { display: block; padding: 10px 20px; font-size: 2rem; }

header .gnb .depth2 { position: absolute; left: 0; width: 500px; display: none; }
header .gnb .depth2 li { display: inline-block; }
header .gnb .depth2 li a { display: block; padding: 10px 15px; opacity: 0.5; transition: all 0.5s;}
header .gnb .depth2 li:hover a{opacity: 1;}

/* mgnb*/
header .ham { display: none; cursor: pointer; width: 30px; height: 30px; background: url("../images/ham.svg") no-repeat center; font-size: 0; }

.dim { display: none; width: 100%; height: 100%; background: rgba(0,0,0,0.8); position: fixed; left: 0; top: 0; }

.mgnb_wrap { z-index: 999999; position: fixed; right: -100%; top: 0; width: 80%; height: 100%; background: #eee; padding: 100px 50px; color: #000; }
.mgnb { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 20px; }

.mgnb li { font-size: 3rem; padding: 10px 0; font-weight: 500; }
.mgnb li span { display: inline-block; padding-left: 10px; font-size: 1.8rem; opacity: 0.3; font-family: var(--sub-font); }
.mgnb_close { width: 30px; height: 30px; position: absolute; right: 50px; top: 50px; cursor: pointer; font-size: 0; color: transparent; background: url("../images/ico_close.png") no-repeat center;  }

header .util { display: flex; gap: 30px; }
header .btn_search { cursor: pointer; }

.search { color: #000; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #eee; display: none; }
.search .search_box { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); min-width: 300px; width: 50%; }
.search .input_box { display: flex; }
.search input[type="text"] { border-bottom: 3px solid #000; font-family: var(--main-font); background: transparent; width: calc(100% - 50px); height: 50px; font-size: 2rem; padding: 10px; }
.search .search_btn { border-bottom: 3px solid #000; background: transparent url('../images/search.png') no-repeat center; padding: 10px; font-size: 0; width: 50px; height: 50px; cursor: pointer; }
.search .tag { padding: 20px 0; display: flex; flex-wrap: wrap; gap: 10px 20px; }
.search .search_close { width: 50px; height: 50px; font-size: 0; cursor: pointer; background: #000 url('../images/ico_close_w.png') no-repeat center; position: absolute; left: 50%; top: 0; transform: translateX(-50%); }

@media (max-width:1200px) {
  header .gnb { display: none; }
  header .ham { display: block; }
  header .util li:not(.btn_search) { display: none; }
}

@media (max-width:768px) {
  header .util { display: none; }
  header h1 { position: static; transform: translate(0,0); }
}


/* visual */
.visual .swiper-slide { height: 900px; text-align: center; }
.visual .swiper-slide img { width: 100%; height: 100%; object-fit: cover; }
.visual .visual_txt { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); color: #fff; }
.visual strong { font-family: var(--sub-font); font-size: 5rem; font-weight: 400; text-transform: capitalize; }
.visual h3 { font-size: 4rem; font-weight: 500; padding: 30px 0 10px; }
.visual p { font-size: 2rem; opacity: 0.7; }
.visual .swiper-button-prev { top: auto; bottom: 30px; left: 50%; transform: translateX(-100px); color: transparent; width: 40px; height: 20px; background: url('../images/arrow_prev.png'); }
.visual .swiper-button-next { top: auto; bottom: 30px; left: 50%; transform: translateX(60px); color: transparent; width: 40px; height: 20px; background: url('../images/arrow_next.png'); }
.visual .swiper-pagination { color: #fff; bottom: 30px; }

@media (max-width:1200px) {
  .visual .swiper-slide { height: 750px; }
  .visual strong { font-size: 3rem; }
  .visual h3 { font-size: 3rem; }
}

@media (max-width:768px) {
  .visual .swiper-slide { height: 600px; }
  .visual strong { font-size: 2.5rem; }
  .visual h3 { font-size: 2.5rem; }
  .visual p { font-size: 1.6rem; }
}

/*main 공통*/
h2 { font-size: 5rem; text-align: center; }
h2 + p { text-align: center; font-size: 2.5rem; color: rgba(0,0,0,0.5); padding: 30px 0 50px; }
.btn_more a { opacity: 0.8; text-decoration: underline; }
.m_br { display: none; }

@media (max-width:1200px) {
  h2 { font-size: 4rem; }
}

@media (max-width:768px) {
  h2 { font-size: 3rem; }
  h2 + p { font-size: 1.6rem; }
  .m_br { display: block; }
}


/* landmark */
.landmark { margin: 200px 0; }
.landmark .swiper-slide { position: relative; overflow: hidden; opacity: 0.3; opacity: 0.5; transition: opacity 0.5s, transform 0.5s; transform: scale(0.9); }
.landmark .swiper-slide-active { opacity: 1; transform: scale(1); }
.landmark .swiper-slide img { width: 100%; }
.landmark .swiper-slide span { font-size: 2rem; display: inline-block; position: absolute; left: 0; top: 0; color: #fff; background: #000; padding: 20px 40px; }

.landmark .swiper-button-prev { margin-top: -30px; width: 120px; height: 60px; color: transparent; background: #000 url('../images/arrow_prev.png') no-repeat center; left: 0;  }
.landmark .swiper-button-next { margin-top: -30px; width: 120px; height: 60px; color: transparent; background: #000 url('../images/arrow_next.png') no-repeat center; right: 0; }

.landmark .btn_more {margin: 30px 0 0; text-align: center; }

@media (max-width:1200px) {
  .landmark { margin: 150px 0; }
  .landmark .swiper-slide span { font-size: 1.6rem; }
  .landmark .swiper-button-prev, .landmark .swiper-button-next { display: none; }
}

@media (max-width:768px) {
  .landmark { margin: 100px 0; }
}

/* brand */
.brand { background: #eee;}
.brand .inner { display: flex; align-items: center; flex-wrap: wrap; text-align: center; max-width: 100%; padding: 0; }
.brand .inner > div { width: 50%; }

.brand h3 { font-size: 5rem; }
.brand p { font-size: 2.5rem; color: rgba(0,0,0,0.5); padding: 30px 0; }
.brand .brand_img img { width: 100%;}

.brand .brand_img_list .swiper-pagination { bottom: 20px; }
.brand .brand_img_list .swiper-pagination-bullet { opacity: 1; background: #fff; border-radius: 20px; transition: all 0.5s; }
.brand .brand_img_list .swiper-pagination-bullet-active { background: #ff6600; width: 30px; }

@media (max-width:1200px) {
  .brand .inner > div { width: 100%; }
  .brand .brand_txt_list { padding: 50px 0; }
  .brand h3 { font-size: 4rem; }
  .brand p { font-size: 2rem; }
}

@media (max-width:768px) {
  .brand h3 { font-size: 3rem; }
  .brand p { font-size: 1.6rem; }
}

/* gallery */
.gallery { margin: 200px 0; }
.gallery ul { display: flex; flex-wrap: wrap; }
.gallery ul li:nth-child(1) { background: url('../images/gallery_01.jpg') no-repeat center / cover; }
.gallery ul li:nth-child(2) { background: url('../images/gallery_02.jpg') no-repeat center / cover; }
.gallery ul li:nth-child(3) { background: url('../images/gallery_03.jpg') no-repeat center / cover; }

.gallery ul li { transition: all 1s; width: calc(50% / 2); height: 500px; color: #fff; text-align: center; display: flex; gap: 20px; flex-direction: column; justify-content: center; align-items: center; }
.gallery ul li h3 { font-family: var(--sub-font); font-size: 2.5rem; font-weight: 400; }
.gallery ul li div { transition: all 0.5s; opacity: 0; }

.gallery ul li.active { width: 50%; }
.gallery ul li.active div { opacity: 1; }

@media (max-width:1200px) {
  .gallery { margin: 150px 0; }
  .gallery ul li { width: 100%; height: 300px; }
  .gallery ul li.active { width: 100%; }
  .gallery ul li div { opacity: 1; }
}

@media (max-width:768px) {
  .gallery { margin: 100px 0; }
}


/* footer */
footer { border-top: 1px solid var(--border-color); text-align: center; color: #999; padding: 100px 0; position: relative; }
footer .footer_link { display: flex; justify-content: center; gap: 20px; }
footer .footer_link li a { color: #999; position: relative; }
footer .footer_link li:not(:first-child) a:after { content: ''; display: block; width: 1px; height: 12px; position: absolute; left: 0; top: 50%; transform: translate(-10px,-5px); background: #ddd; }
footer address { padding: 20px 0; display: flex; justify-content: center; gap: 20px; }
footer .footer_logo { display: inline-block; padding-top: 20px; margin-top: 50px; border-top: 1px solid #ddd; }

.gotop { position: absolute; left: calc(50% - 25px); top: -1px; width: 50px; height: 50px; border: 1px solid var(--border-color); font-size: 0; background: #fff url('../images/gotop.svg') no-repeat center; cursor: pointer; }

@media (max-width:768px) {
  footer { font-size: 1.2rem; padding: 60px 0; }
  footer address { flex-direction: column; gap: 5px; }
  .gotop { transform: scale(0.7); transform-origin: center top; }
}